@font-face {
    font-family: "raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway light";
    src: url(../fonts/Raleway-Light.ttf);
}

html,body {
	margin: 0;
    width: 100%;
    font-size: 14px;
    font-family: "raleway light";
}

#bloc_page{
    margin: 0 5% auto 5%;
    max-width: 1440px;
    height: 100%;
}

nav {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    margin: 0px; 
    padding: 0; 
     
}
.nav_button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;   
    font-weight: bolder ;
}
#button_inscrire a {
    text-decoration: none;
    color: #0065FC ;
}
.nav_button a{
    text-decoration: none;
    color: inherit;
}
.nav_button:hover{ 
    color : #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
    
}
.section_recherche {
    display: flex;
    height: 13.5%;
    width: 100%;
}

.logor {
    background-color: #f2f2f2;
font-size: 1.5rem;
padding: 13px;
text-align: center;
border-radius: 15px 0px 0px 15px;
}
.button_rechercher {
    color: #f2f2f2; 
    font-size: 1.5rem;
    border-top-right-radius: 17%;
    border-bottom-right-radius: 17%;
    background-color:#0065FC ;
    height: 3.357rem;
    padding: 12px 14px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    

}
#rechercher{
    height: 3.357rem;
    font-size: 1.5rem;
    padding: 9px;
    font-weight: bolder;
    border: none;
}
#loupe {
    display: none;
}
#filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bolder;
    padding: 0;
    margin: 10px 0;
    font-size: 18px;
    flex-wrap: wrap;
    width: 66%;
}
.titre_filtres{
    display: flex;
    font-size: 1.286rem;
    justify-content: center;
    margin: 0 38px 0 0;
    font-weight: bolder;   
}

.box_icon {
    
    display: flex;
    justify-content: flex-start;
    
    border:#f2f2f2 3px solid;
    border-radius: 50px;
    height: 44px;
    
}


.icon_filtre {
    display: flex;
    justify-content: center;
    height: 3rem;           
    width: 3rem;        
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
}
.icon_filtre:hover{
    background-color: #f2f2f2;
}
.text_filtre {
    display: flex;
    padding: 0;
    margin: 1rem 0 1rem 0 ;
    padding: 0 1rem 0 1rem;    /*15px 15px */
}
.text_filtre:hover{
    color:#DEEBFF;
}
.logofiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #0065FC;
}
.box_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.box_icon_info {
    margin: 0.741rem 0.741rem 0.741rem 0;       /*10px*/
    width: 1.5rem;          /*21px*/
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    color: #0065FC;
    padding: 3px;
}
.info {
    padding: 0.071rem 0.571rem; /* 1px , 8px */
}
.box_info_text {
    padding: 0.214rem; /*3px*/
    margin-left: 0;
}
header{
    
    height: 300px; /* 28.571rem */

}
/* Hebergements */
.container {
    margin: 0 auto;
    max-width: 1440px; /*102.857rem*/
    
}
#hebergements{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.big_box_hebergements {
    border-radius: 30px;
    background-color: #f2f2f2;
    height: auto;
    width: 80%;
}
.box_titre_hebergements {
    margin: 0 0 0 35px;

}
.box_hebergements {
    width: 100%;
   
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.pack_vignette_first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.pack_vignette_second {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    
}
.box_vignette_img {
    max-width: 235px;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;
}
.vignette {
    width: 96%;
    height: auto;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box_vignette{
    background-color: #ffff;
    border-radius: 15px;
    margin: 1rem;
    box-shadow:1px 1px 15px grey;
    height: 13.3rem;
    
}
.box_vignette_texte {
    
}

h2 {
    color:black;
    font-weight: bolder;
    font-size: 1.2rem;
    margin:0;
    white-space: nowrap;    
}
.box_vignette_texte p{
   
    margin: 0;
   text-decoration: none;
   
}
.bloc_tps {             /* hebergement text prix stars */
    margin: 0 0 0 22px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.box_vignette_price p{
    margin:0;

}
.starbleue {
    color: #0065FC;
}
.stargrise {
    color: #f2f2f2;
}

.box_afficher_plus {
    margin: 0 0 0 35px;
    font-weight: bolder;
}

 /* Les plus populaires */
aside {
    padding: 30px;
    border-radius: 30px;
    background-color: #f2f2f2;
    margin-left: 25px;
}
.vignette_populaire {
    width: 95%;
    height: 95%;
    margin: 5px 5px 5px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;    
}
#les_plus_populaires {
    width:465px;
}
.box_les_plus_populaires {
    display: flex;
    flex-direction: column;
    
}
.box_populaire_et_logo {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}
.box_populaire_vignette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 15px;
    margin: 10px;
    box-shadow:1px 1px 15px grey;
    height: 11rem; 
}
.box_populaire_vignette_img {
    width: 50%;
    height: 100%;
}
.bloc_pop_tps {
    height: 12rem;
    width: 14rem;
    margin: 5px 5px 10px 10px;
}
.box_populaire_vignettes_stars {
    margin-top: 64px;
}


/* Activite */
#activites { 
    
    
    margin:0 0 100px 0;
    overflow: hidden;
}
.titre_activite{
    font-weight: bolder;
    margin: 5% 0 2% 0;
    
}
.box_photo_activite {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.box_photo_one{
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 0 2% 0 2%;
}
.box_photo_two {
    
    margin: 0 2% 0 2%;
}
.box_photo_one > a {
    text-decoration: none;
}
.box_photo_three {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 0 2% 0 2%;
}
.box_photo_four {
    margin: 0 2% 0 2%;
}
.photo { /* img partie activite */
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: bottom;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
#photo2 {
    /* width: 246px; */
    height: 138px;
}
#photo5 {
    height: 138px;
}

#vignette1 {
    height: 100%;
    margin: 0;
}
#vignette2  {
    margin: 0;
    height: 48%;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#vignette3 {
    margin: 10% 0 0 0;
    height: 40%;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#vignette4 {
    height: 100%;
    margin: 0;
}
#vignette5 {
    margin: 0;
    height: 48%;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#vignette6 {
    margin: 10% 0 0 0;
    height: 40%;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#figcaption_speciale_1 {
    height: 13%;
    background-color: #f2f2f2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
#figcaption_speciale_2 {
    height: 25% ;
    background-color: #f2f2f2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#figcaption_speciale_3 {
    height: 13%;
    background-color: #f2f2f2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
#figcaption_speciale_4 {
    height: 23%;
    background-color: #f2f2f2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.figcaption {
    text-decoration: none;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titre {
    margin-left: 1rem;
    color:black;
    font-weight: bolder;
    font-size: 1.2rem;
    white-space: nowrap;  
    text-decoration: none;
}
h3 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer {
    width: 100%;
    height: 100px;
    background-color: red;

}

